<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="structure.css">
    <style>
        .block {
            width: 8vw;
            height: 8vw;
        }
    </style>
</head>
<body>
    <main>
        <section class="center padding:s3 width:auto">
            <div class="stack-column gap:s1">
                <h1>Primary colors</h1>
                <p>
                    The primary color palette.
                </p>
                <div class="stack-row wrap justify:space-between">
                    <div class="block bg-color:primary-000 radius:s shadow">
                       
                    </div>
                    <div class="block bg-color:primary-100 radius:s shadow"></div>
                    <div class="block bg-color:primary-200 radius:s shadow"></div>
                    <div class="block bg-color:primary-300 radius:s shadow"></div>
                    <div class="block bg-color:primary-400 radius:s shadow"></div>
                    <div class="block bg-color:primary-500 radius:s shadow"></div>
                    <div class="block bg-color:primary-600 radius:s shadow"></div>
                    <div class="block bg-color:primary-700 radius:s shadow"></div>
                    <div class="block bg-color:primary-800 radius:s shadow"></div>
                    <div class="block bg-color:primary-900 radius:s shadow"></div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>