@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans";
}

h1,
h2 {
    font-weight: 900;
}

body,
p {
    font-family: "Noto Sans";
}